@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:wght@400;500;600;700&display=swap');


/* Color variables */
:root {
  --white-color: #eeeeee;
  --bg-color1: #2b2a2f;
  --bg-color2: #27262b;
  --details: #2b2a2f;
  --gray-color: #e4e4e4;
  --detailsColor: #ff8c28; 
  --detailsColorHover: #ff7802; 
  --textColor: #e6e6e6;
  /* --buttonColor: rebeccapurple; */
  
}

/* Changing background color */
body {
  background: var(--bg-color2) !important;
}


/* Changing link color */
.nav-item .nav-link {
  color: var(--white-color);
  font-weight: 500;
  /* font-family: 'Sometype Mono', monospace; */
}

.nav-item .nav-link:hover {
  color: var(--detailsColor);
  font-weight: 500;
}

/* Hero section background image */
.hero {
  height: 100vh;
  background-image: url("../images/oficial\ Bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}


#skills i {
  height: 100px;
  width: 100px;
}

#portfolio img {
  height: 300px;
  object-fit: cover;
}

.collapseButton{
  background-color: var(--detailsColor) !important;
  border: none !important;
}

i{
  color: var(--detailsColor) !important;

}

.social-icons{
  padding-left: 0px !important;
}
.social-icons a{
  background-color: var(--details) !important;
}

.loader {
  position: relative;
  top: 53px;
  left: 98px;
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: none;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

#about .img,
#about img,
.hire-text h2 {
  position: relative;
}

/* Timeline background line */
#about .img::before {
  content: "";
  left: 50%;
  width: 4px;
  position: absolute;
  height: calc(100% + 140px);
  background: var(--gray-color);
}

#about img,
#about .hire-text h2 {
  width: 140px;
}

#about .hire-text h2 {
  height: 140px;
}

.social-icons a {
  width: 40px;
  height: 40px;
}

footer .social-icons a {
  width: 30px;
  height: 30px;
}

#cv img {
  width: 230px;
}

/* Contact section background image */
#contact {
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  background-image: url("../images/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg");
}

.arrow {
  color: var(--detailsColor);
}

.skillsCards{
  width: 362px !important;
  background-color:var(--details) !important;
  
}

.material-symbols-outlined{
  font-size: 30px !important;
  color: var(--textColor) !important;
}

.skillColor{
  color: var(--textColor) !important;
}

.skillsCards:hover{
  transition: 0.2s ease-in-out;
  transform: scale(1.02);
  box-shadow: 0px 0px 3px var(--detailsColor);

}

.skillsCards:hover > .material-symbols-outlined{
  color: var(--detailsColor) !important;
}

.projectsContainer {
  width: 25% !important;
  border: none !important;
}


.projectsContainer .material-symbols-outlined  {
  color: var(--bg-color1) !important;
}
.projectsContainer:hover  .material-symbols-outlined  {
  color: var(--detailsColorHover) !important;
}

.cardProject{
  background-color:var(--details) !important;
  /* border: none !important; */
}

.card{
  border: none !important;
}

.cardProject:hover{
  transition: 0.2s ease-in-out;
  box-shadow: 0px 0px 3px var(--detailsColor);
}

.cardProject .card-title{
 color:var(--textColor) !important;
  border: none !important;
}


.icons a {
  margin: 0px 4px;
}

.collapseButton {
    width: 220px;
    height: 40px;
    margin: 14px 0px 3px 0px;
    background-color: var(--textColor) !important;
}

.PortButton{
  display: block !important;
  background-color: #e4e4e4;
  max-width: 178px;
  margin: 0 auto;
  background-color: var(--detailsColor) !important;
  border: none !important;
}


.FinalText{
  text-align: center !important;
}

h2:not(.FinalText) {
  color: var(--detailsColor) ;
  /* font-family: 'Sometype Mono', monospace; */
}

.AboutMe h5:nth-child(2) {
  color: var(--detailsColor) !important;
}


.AboutMe h5:nth-child(1){
  color: var(--textColor) !important;
}

.AboutMe, .resume{
  color: var(--textColor) !important;
}

.button {
  background-color: var(--detailsColor) !important;
  border: none !important;
  color: var(--bg-color) !important;
  
}

.hoverButtons{
  background-color: var(--detailsColorHover) !important;
  border: none !important;
  box-shadow: 0px 0px 10px var(--detailsColorHover) ;
  color: var(--bg-color) !important;
}

.button:hover {
  background-color: var(--detailsColorHover) !important;
  border: none !important;
  box-shadow: 0px 0px 10px var(--detailsColorHover) ;
  color: var(--bg-color) !important;
  
}

#cv .row {
  color: var(--textColor) !important;
}

.curriculumTitle {
  color: var(--detailsColor);
}

[data-js="container"] {
  display: flex;
  position: fixed;
  transform: translate(0px, 50px);
  margin: 0 auto;
  width: 340px !important;  
}

.removeAlertContainer{
  display: none;
}

.moveAlert {
  animation: moveAlert 0.7s ease-in-out forwards;
}

.hideAlert {
  animation: hideAlert 0.7s ease-in-out forwards;
}


@keyframes moveAlert {
  from{
    transform: translate(0px, -10px);
    opacity: 0;
  } 
  to{
    transform: translate(0px, 46px);
    opacity: 1;
  }
}

@keyframes hideAlert {
  from{
    transform: translate(0px, 46px);
    opacity: 1;
  }
  to{
    transform: translate(0px, -100px);
    opacity: 0;
  } 
}

.alert {
  margin: 0 auto;
}

.hide{
  display: none;
}


.sendButton {
  min-width: 178px !important;
}



@media screen and (max-width: 990px) {
  #skills .card {
    width: calc(100% / 2 - 10px) !important;
  }
}

@media screen and (max-width: 668px) {
  #skills .card,
  #portfolio .card-wrapper {
    width: 100% !important;
  }
}
