@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700;800;900&display=swap');


/* Color variables */
:root {
  --white-color: #eeeeee;
  --bg-color1: #1e1e1e;
  --bg-color2: #212121;
  --details2: #1e1e1e;
  --details: #212121;
  --gray-color: #e4e4e4;
  --detailsColor: #2889d3; 
  --detailsColorHover: #1f6296; 
  --textColor: #b1b1b1;
  /* --buttonColor: rebeccapurple; */

  --bgModeColor1: #f5f5f5;
  --bgModeColor2: #eaebef;
  --textColorDarkMode: #ffffffec;
  --cardModeColor:#0073f4;

  --font: 'Urbanist', sans-serif;
  
}

section {
  min-height: 100vh;
}

/* Changing background color */
body, html {
  background: var(--bg-color1) !important;
  font-family: var(--font) !important;
}

#sectionServices{
  background-color: var(--bg-color1);
}
#sectionPortifolio{
  background-color: var(--bg-color2);
}

#sectionAbout{
  background-color: var(--bg-color2);
}
#sectionCurriculum{
  background-color: var(--bg-color1);
}
#sectionContact {
  background-color: var(--bg-color2);
}

.sun:hover {
  color: var(--detailsColor) !important;
}

.navbar-nav {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between !important;
}

.nav-item .nav-link {
  color: var(--white-color);
  font-weight: 500;
  /* font-family: 'Sometype Mono', monospace; */
}

.nav-item .nav-link:hover {
  color: var(--detailsColor);
  font-weight: 500;
}

/* Hero section background image */
.hero {
  height: 100vh;
  background-color: #1e1e1e;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

.myPhoto-container{
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
}

.myPhoto {
  width: 80%;
  margin-top: 100px;
}

.text-home-container{
  display: flex;
  align-items: center;
}

.text-home{
  padding-left: 18%;
}


.subText{
  color: rgb(196, 196, 196);
  line-height: 30px !important;
}

.subTitle{
  font-size: 42px;
  color: white !important;
  font-weight: 700;
  text-align: center;
}

.titleMobile{
  display: none;
}

[data-js="typing"]{
  position: relative;
  height: 58.8px;
}

[data-js="typing"]::after{
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #0073f4;
  animation: typing 1s ease infinite;
  
}

@keyframes typing {
  from{
    opacity: 1;
  }
  to {
    opacity: 0;
  }
  
}


#skills i {
  height: 100px;
  width: 100px;

}

[data-js="portfolioContainer"] {
  margin-top: 25px;
}

#portfolio img {
  height: 300px;
  object-fit: cover;
}

.collapseButton{
  background-color: var(--detailsColor) !important;
  border: none !important;
}

i{
  color: var(--white-color) !important;

}

.social-icons{
  padding-left: 0px !important;
}
.social-icons a{
  background-color: var(--details) !important;
}

.loader {
  position: relative;
  top: 53px;
  left: 98px;
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: none;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

#about .img,
#about img,
.hire-text h2 {
  position: relative;
}

/* Timeline background line */
#about .img::before {
  content: "";
  left: 50%;
  width: 4px;
  position: absolute;
  height: calc(100% + 140px);
  background: var(--gray-color);
}

#about img,
#about .hire-text h2 {
  width: 350px;
}

#about .hire-text h2 {
  height: 140px;
}

.social-icons a {
  width: 40px;
  height: 40px;
}

footer .social-icons a {
  width: 30px;
  height: 30px;
}

#cv img {
  width: 230px;
}

/* Contact section background image */
#contact {
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  /* background-image: url("../images/contact-bg.jpeg"); */
}

.arrow {
  color: var(--detailsColor);
}

.skillsCards{
  width: 362px !important;
  background-color:var(--details) !important;
}

.material-symbols-outlined{
  font-size: 30px !important;
  color: var(--cardModeColor) !important;
}

.skillColorTitle{
  color: white !important;
  font-weight: 600;
}

.skillColor{
  color: var(--textColor) !important;
}

.skillsCards:hover{
  transition: 0.3s ease-in-out;
  background-color: #0073f4 !important;
 
}

.skillsCards:hover > .material-symbols-outlined{
  color: white !important;
}
.skillsCards:hover > .skillColor{
  color: white !important;
}

.projectsContainer {
  width: 25% !important;
  border: none !important;
}


.projectsContainer .material-symbols-outlined  {
  color: var(--bg-color1) !important;
}

.projectsContainer:hover  .material-symbols-outlined  {
  color: var(--detailsColorHover) !important;
}

.cardProject{
  background-color:var(--details2) ;
  /* border: none !important; */
  border-radius: 5px;
}

.language-tag {
  display: flex;
  margin-top: 10px;
}

.language-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.507);
}

.card-text{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  border: none !important;
}



.cardProject .card-title{
 color:var(--white-color) !important;
  border: none !important;
}


.icons a {
  margin: 0px 30px;
}

.collapseButton {
    width: 220px;
    height: 40px;
    margin: 14px 0px 3px 0px;
    /* background-color: transparent !important; */
 

}

.PortButton{
  display: block !important;
  background-color: #e4e4e4;
  max-width: 178px;
  margin: 0 auto;
  background-color: var(--detailsColor) !important;
  border: none !important;
}


.img-about-container {
  display: flex;
  align-items: center;
  flex-direction: column;
 
}

.img-about-container img {
  width: 70%;
}

.about-infos {
  padding-top: 110px;
}

.section-About p {
  color: rgba(255, 253, 253, 0.644);
  line-height: 30px;
}

.list-Skills li {
  list-style: none;
  color: rgba(255, 253, 253, 0.644);
}

.list-Skills li:hover {
  list-style: none;
  color: rgb(255, 255, 255);
}

.list-Skills li::before {
  content: '\2022';
  color: var(--colotTitle);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.titleDesktop, .titleMobile{
  color: var(--cardModeColor);
}


.FinalText{
  text-align: center !important;
  height: 100px !important;
}

h2:not(.FinalText) {
  color: var(--detailsColor) ;
  /* font-family: 'Sometype Mono', monospace; */
}

.AboutMe h5:nth-child(2) {
  color: var(--detailsColor) !important;
}

.AboutMe h5:nth-child(1){
  color: var(--textColor) !important;
}

.AboutMe, .resume{
  color: var(--textColor) !important;
}

#textButton {
  color: white !important;
}

.button {
  background-color: var(--detailsColor) !important;
  border: none !important;
  color: var(--bg-color) !important;
  
}

.button:hover {
  background-color: var(--detailsColorHover) !important;
  border: none !important;
  box-shadow: 0px 0px 10px var(--detailsColorHover) ;
  color: var(--bg-color) !important;
  
}

.lastGoal{
  height: 100px !important;
}

#cv .row {
  color: var(--textColor) !important;
}

.curriculumTitle {
  color: var(--detailsColor);
}

[data-js="container"] {
  display: flex;
  position: fixed;
  transform: translate(0px, 50px);
  margin: 0 auto;
  width: 340px !important;  
}

.removeAlertContainer{
  display: none;
}

.moveAlert {
  animation: moveAlert 0.7s ease-in-out forwards;
}

.hideAlert {
  animation: hideAlert 0.7s ease-in-out forwards;
}


@keyframes moveAlert {
  from{
    transform: translate(0px, -10px);
    opacity: 0;
  } 
  to{
    transform: translate(0px, 46px);
    opacity: 1;
  }
}

@keyframes hideAlert {
  from{
    transform: translate(0px, 46px);
    opacity: 1;
  }
  to{
    transform: translate(0px, -100px);
    opacity: 0;
  } 
}

.alert {
  margin: 0 auto;
}

.hide{
  display: none !important;
}

.show{
  display: block;
}

.sendButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 178px !important;
  height: 48px;
  /* overflow: hidden; */
  position: relative;
}

.sendButton p {
  transition: opacity 0.4s ease-in-out;
}

.sendButton div {
  transition: opacity 0.4s ease-in-out;
  position: absolute;
  top: 17px;
  /* opacity: 0; */
  left: 79px;
}

.addOpacity{
  transition: opacity 0.4s ease-in-out;
  opacity: 1;
}

.removeOpacity {
  transition: opacity 0.4s ease-in-out;
  opacity: 0;
}

#notification-success {
  background-color: rgb(124, 255, 124) !important;
  border: 2px solid green !important;
  color: rgb(0, 0, 0) !important;
}

#notification-danger {
  background-color: rgb(250, 102, 102) !important;
  border: 2px solid  red !important;
  color: rgb(255, 255, 255) !important;
}



/* Mode Settings */

.bgMode {
  background-color: var(--white-color) !important;

}

.skillsCardsMode, .skillsCardsMode > p, .skillsCardsMode > span{
  background-color: var(--cardModeColor) !important;
  color: var(--textColorDarkMode) !important;
}

.h2ModeColor {
  color: var(--textColorDarkMode) !important;
}

.skillsCardsMode > h3, .skillsCardsMode > span{
  color: var(--textColorDarkMode) !important;
}

.elementsTitle, .elementsTitle > p {
  color: var(--textColorDarkMode) !important;
  background-color: var(--cardModeColor) !important;
}

.elementsTitle a > i{
  color: var(--textColorDarkMode) !important;
}





@media screen and (max-width: 990px) {
  #skills .card {
    width: calc(100% / 2 - 10px) !important;
  }
}

@media screen and (max-width: 668px) {
  #skills .card,
  #portfolio .card-wrapper {
    width: 100% !important;
  }

  .myPhoto-container{
    /* min-height: 100vh; */
    display: none;
    align-items: center;
  }

  
.text-home{
  padding-left: 2%;
}

.titleDesktop{
  display: none;
}

.downloadButton{
  margin: 0 auto !important;
}


}
