@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:wght@400;500;600;700&display=swap');


/* Color variables */
:root {
  --white-color: #eeeeee;
  --bg-color: #23262d;
  --gray-color: #ccc;
  --detailsColor: #3fe69d; 
  --textColor: #e6e6e6;
  
}

/* Changing background color */
body {
  background: var(--bg-color) !important;
}

/* Changing link color */
.nav-item .nav-link {
  color: var(--white-color);
  font-weight: 500;
  font-family: 'Sometype Mono', monospace;
}

.nav-item .nav-link:hover {
  color: var(--detailsColor);
  font-weight: 500;
}

/* Hero section background image */
.hero {
  height: 100vh;
  background-image: url("../images/tex.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#skills i {
  height: 100px;
  width: 100px;
}

#portfolio img {
  height: 300px;
  object-fit: cover;
}

#about .img,
#about img,
.hire-text h2 {
  position: relative;
}

/* Timeline background line */
#about .img::before {
  content: "";
  left: 50%;
  width: 4px;
  position: absolute;
  height: calc(100% + 140px);
  background: var(--gray-color);
}

#about img,
#about .hire-text h2 {
  width: 140px;
}

#about .hire-text h2 {
  height: 140px;
}

.social-icons a {
  width: 40px;
  height: 40px;
}

footer .social-icons a {
  width: 30px;
  height: 30px;
}

#cv img {
  width: 230px;
}

/* Contact section background image */
#contact {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-image: url("../images/contact-bg.jpeg");
}

.arrow {
  color: var(--detailsColor);
}

.skillsCards{
  width: 362px !important;
  background-color: #eeeeee !important;
  
}

.material-symbols-outlined{
  font-size: 30px !important;
}

.skillsCards:hover{
  transition: 0.2s ease-in-out;
  transform: scale(1.01);

}
.skillsCards:hover > .material-symbols-outlined{
  color: var(--detailsColor);

}

.FinalText{
  text-align: center !important;
}

h2:not(.FinalText) {
  color: var(--detailsColor) ;
  font-family: 'Sometype Mono', monospace;
}

.AboutMe h5:nth-child(2) {
  color: var(--detailsColor) !important;
}


.AboutMe h5:nth-child(1){
  color: var(--textColor) !important;
}
.AboutMe, .resume{
  color: var(--textColor) !important;
}

.button {
  background-color: var(--detailsColor) !important;
  border: none !important;
  color: var(--bg-color) !important;
  
}
.button:hover {
  background-color: #38ffa9 !important;
  border: none !important;
  box-shadow: 0px 0px 10px #38ffa9 ;
  color: var(--bg-color) !important;
  
}

#cv .row {
  color: var(--textColor) !important;
}

.curriculumTitle {
  color: var(--detailsColor);
}

[data-js="container"] {
  position: absolute;
  transform: translate(0px, -10px);
  margin: 0 auto;
  
}

.moveAlert {
  animation: moveAlert 0.7s ease-in-out forwards;
}

.hideAlert {
  animation: hideAlert 0.7s ease-in-out forwards;
}


@keyframes moveAlert {
  from{
    transform: translate(0px, -10px);
    opacity: 0;
  } 
  to{
    transform: translate(0px, 46px);
    opacity: 1;
  }
}

@keyframes hideAlert {
  from{
    transform: translate(0px, 46px);
    opacity: 1;
  }
  to{
    transform: translate(0px, -100px);
    opacity: 0;
  } 
}

.alert {
  margin: 0 auto;
}

.hide{
  display: none;
}


@media screen and (max-width: 990px) {
  #skills .card {
    width: calc(100% / 2 - 10px) !important;
  }
}

@media screen and (max-width: 668px) {
  #skills .card,
  #portfolio .card-wrapper {
    width: 100% !important;
  }
}
